.footer-nav {
  text-align: right;
  align-self: center;
}

.footer-nav__navigation {
  list-style-type: none;
}

.footer-nav__list {
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
}
.footer-nav__link {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  
}