.we-sell__text {
  display: block;
  width: 90%;
  margin: 0 auto 25px;
}

.we-sell {
  background: #e9ebf0;
  padding: 80px 0;
  text-align: center;
}

.we-sell__header {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 5px;
}

.we-sell__sub-header {
  font-size: 20px;
  font-weight: 300;
}

@media screen and (min-width: 650px) {
  .we-sell__text {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .we-sell__text {
    display: grid;
    max-width: 1040px;
    margin: auto;
    padding: 100px 10px;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .we-sell__header {
    font-size: 50px;
  }

  .we-sell__sub-header {
    font-size: 30px;
  }
}
@media screen and (min-width: 960px) {
}
