.special-offer__offers {
  display: block;
  width: 90%;
  margin: auto;
}

.special-offer {
  padding: 30px 0;
}

.special-offer__header {
  font-size: 30px;
  width: 90%;
  margin: auto;
  font-weight: 500;
  padding-bottom: 35px;
  text-align: center;
}

.special-offer__offers {

}

@media screen and (min-width: 640px) {
  .special-offer__offers {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .special-offer__offers {
    max-width: 1040px;
    padding: 70px 10px 0;
    margin-bottom: 0;
    grid-template-columns: repeat(3, 1fr);
  }
  .special-offer__header {
    font-size: 50px;
  }
  .special-offer {
    padding: 150px 0;
  }
}
