.contact-us {
    background: #4c505f;
    text-align: center;
    padding: 35px 0;
}
.contact-us__wrapper {
    width: 90%;
    margin: auto;
}
.contact-us__header,
.contact-us__phone-text,
.contact-us__link-wrapper {
    color: white;
    align-self: center;
    padding-bottom: 15px;
}
.contact-us__phone {
    display: block;
    padding-bottom: 10px;
}   
.contact-us__header, .contact-us__link-wrapper {
    text-align: center;
}

.contact-us__link {
    background: #10a8e5;
    -webkit-border-radius: 45px;
    border-radius: 45px;
    text-decoration: none;
    display: inline-block;
    color: white;
    text-align: center;
    width: 100%;
    margin: auto;
    height: 45px;
    font-weight: 500;
    line-height: 45px;
}

.contact-us__header,
.contact-us__phone {
    font-weight: bold;
}

@media screen and (min-width: 960px) {
    .contact-us__phone {
        display: initial;
    }   
}
@media screen and (min-width: 768px) {
    .contact-us {
        padding: 0;
    }
    .contact-us__wrapper {
        max-width: 1200px;
        margin: auto;
        padding: 0 10px;
        height: 150px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .contact-us__header,
    .contact-us__phone-text,
    .contact-us__link-wrapper {
        padding-bottom: 0; 
    }

    .contact-us__header {
        text-align: left;
    }

    .contact-us__link-wrapper {
        text-align: right;
    }
    .contact-us__link {
        width: 220px;
    }
}