<main id="main" role="main" class="about-us">
  <app-header></app-header>
</main>
<article class="about-us__main">
  <section class="about-us__intro">
    <h1 class="about-us__header">We know how to navigate Japan</h1>
    <h3 class="about-us__sub-header">Let us help...</h3>
  </section>
  <section class="about-us__hero">
    <p class="about-us__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ea officia accusantium, velit fugit ab cum provident expedita suscipit, eveniet animi, nam et deserunt quod libero laboriosam, eligendi eum optio!</p>
    <p class="about-us__paragraph">Labore inventore earum a deserunt quod quasi rem ab voluptatem, tempore, aliquid voluptatum nemo consequatur possimus omnis delectus velit unde. Quisquam dolorem aperiam excepturi odit praesentium consequatur, ullam dicta optio?</p>
    <p class="about-us__paragraph">Repellendus rerum nulla itaque pariatur laudantium quidem, ipsam excepturi, velit distinctio a molestias voluptatum sapiente nesciunt adipisci aspernatur, aliquid sit error deleniti consequuntur sequi magni architecto modi et! Numquam, minus.</p>
    <p class="about-us__paragraph">Repellendus rerum nulla itaque pariatur laudantium quidem, ipsam excepturi, velit distinctio a molestias voluptatum sapiente nesciunt adipisci aspernatur, aliquid sit error deleniti consequuntur sequi magni architecto modi et! Numquam, minus.</p>
    <p class="about-us__paragraph">Repellendus rerum nulla itaque pariatur laudantium quidem, ipsam excepturi, velit distinctio a molestias voluptatum sapiente nesciunt adipisci aspernatur, aliquid sit error deleniti consequuntur sequi magni architecto modi et! Numquam, minus.</p>
  </section>
</article>
