.we-sell-individual {
  padding: 20px 0;
}

.we-sell-individual__icon {
  /*align-self: center;*/
  font-size: 55px;
}

.we-sell-individual__text-wrapper {
  text-align: left;
}

.we-sell-individual__header {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
}

.we-sell-individual__text {
  line-height: 25px;
}

@media screen and (min-width: 650px) {
  .we-sell-individual__icon {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 960px) {
  .we-sell-individual {
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    padding: 0;
  }  
}