.second-hero {
  background: url("/assets/images/matsumoto-castle.png");
  background-attachment: fixed;
  background-size: cover;
  padding: 150px 0 50px;
  text-align: center;
  position: relative;
  height: 400px;
}
.second-hero:after {
  content: '';
  background: rgba(76, 80, 95, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.second-hero__icon {
  display: block;
  font-size: 80px;
}
.second-hero__header {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 90px;
  font-weight: 200;
  position: relative;
  z-index: 9;
  top: 70px;
}
