.second-hero {
  background: #e9ebf0;
  padding: 150px 0 50px;
  text-align: center;
}

.second-hero__header {
  font-size: 50px;
  font-weight: 500;
  padding-bottom: 5px;
}

.second-hero__sub-header {
  font-size: 30px;
  font-weight: 300;
}