.news__news-source {
  max-width: none;
  display: block;
  width: 90%;
  margin: auto;
}

.news {
  padding: 30px 0;
}

.news__header {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 35px;
  text-align: center;
}

@media screen and (min-width: 650px) {
  .news__news-source {
    padding: 50px 10px 0;
    max-width: 1200px;
    display: grid;
    grid-column-gap: 25px;
  }
  .news__news-source {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .news {
    padding: 150px 0;
  }
  .news__header {
    font-size: 50px;
  }
}

@media screen and (min-width: 960px) {
  .news__news-source {
    grid-template-columns: repeat(3, 1fr);
  }
}