.footer-nav {
  display: none;
  text-align: center;
  line-height: 50px;
}

.footer-nav__navigation {
  list-style-type: none;
}

.footer-nav__list {
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
}
.footer-nav__link {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer-nav {
    text-align: right;
    display: block;
  }
}