.deal {
  position: relative;
  padding-bottom: 30px;
}
.deal__image-holder {
  max-height: 220px;
  overflow: hidden;
}
.deal__image {
  width: 100%;
}
.deal__percentage {
  position: absolute;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  font-size: 24px;
  padding: 14px;
  color: white;
  top: 0;
  left: 0;
}
.deal__text {
  font-size: 20px;
  padding: 15px 0 10px;
  min-height: 40px;
}
.deal__price {
  font-weight: bold;
  color: #10a8e5;
  font-size: 26px;
  text-decoration: underline;
}
